.products-container{
    .border{
        border: 2px solid #754b23;
        border-radius: 25px;
        padding: 10px;
    }
    .border:hover{
        cursor: pointer;
        background-color:rgb(161, 231, 228);
        border-radius: 25px;
        color: white;
    }
    .name{
        font-weight: 600;
    }
    .title{
        margin: 24px;
        font-weight: 600;
    }
    .cost{
        font-size: 1.3rem;
        font-weight: 400;
    }
    .product-item{
        margin: 9px 0;
    }
    .image{
        border-radius: 25px
    }
}
.details-container{
    margin: 32px;
    text-align:left;
    h1, h4{
        font-weight: 600;
    }
    .image{
        width: 375px;
        border-radius: 25px
    }
    .content{
        position: absolute;
        vertical-align: center; 
        margin: 30px;       
    }
    .tagline{
        font-family: allura;
        font-size: 2rem;
    }
    .cost{
        font-size: 1.7rem;
        font-weight: 600;
        text-align: right;
    }
}