.main-nav{
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    width: 40%;
    font-size: 0;
    font-family: serif;

    li{
        display: inline-block;
        width: 25%;
        font-size: 0.75rem;
        text-align: center;
        text-transform: uppercase;
        color: #754b23;
        text-shadow: 1px 1px 3px darkgray;
        cursor: pointer;
        
        a, a:visited{
            text-decoration: none;
            color: #754b23
        }
        a:hover{
            color:orange;
        }

    }
}


// Link:hover{
    //     color: orange;
    // }
    // Link:visited{
    //     text-decoration: none;
    //     color: initial;
    // }